<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/adminLogin.css">
</head>

<body>
    <div class="container">
        <div class="loginPage">
            <div class="contentDiv">
                <h1>The Reviewer</h1>
                <p>This is the website contained the movie review of top languages. </p>
            </div>
            <div class="formDiv">
                <div class="login-heading">
                    <h1>Login</h1>
                </div>
                <form id="loginForm">
                    <label for="userName">User Name</label>
                    <br>
                    <input type="text" class="userName" name="userName" id="username">
                    <p id="userNameErr" style="display: none;">* Please enter a valid user name</p>
                    <br>
                    <label for="userName">Password</label>
                    <br>
                    <input type="password" class="password" name="password" id="password">
                    <p id="passwordErr" style="display: none;">* Please enter a minimum 4 character</p>
                    <br>
                    <button type="button" id="submitBtn">Login</button>
                </form>
                <div class="register">
                    <p> New user <a href="" id="switchToSignUp">Register here<a />
                    </p>
                </div>
            </div>
            <div class="registerForm">
                <div class="register-heading">
                    <h1>Sign Up</h1>
                </div>
                <form action="">
                    <label for="userName">User Name</label>
                    <br>
                    <input type="text" class="userName" name="userName" id="SignUpUsername" value="sidhik">
                    <p id="userNameDivErr" style="display: none;">* Please enter a valid user name</p>
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" class="email" name="email" id="email" value="sidhik@gmail.com">
                    <p id="emailNameDivErr" style="display: none;">* Please enter a valid email ID</p>
                    <br>
                    <label for="mobNo">Mobile Number</label>
                    <br>
                    <input type="text" class="mobNo" name="mobNo" id="mobNo" value="9995575570">
                    <p id="mobNoNameDivErr" style="display: none;">* Please enter a valid mobile number</p>
                    <br>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" class="password" name="password" id="SignUpPassword" value="1234567890">
                    <br>
                    <label for="cPassword">Conform Password</label>
                    <br>
                    <input type="password" class="password" name="cPassword" id="cPassword" value="1234567890">
                    <p id="passwordDivErr" style="display: none;">* Please fill the field or,</p>
                    <p id="cPasswordDivErr" style="display: none;"> Password does not match</p>
                    <br>
                    <button type="button" id="registerSubmitBtn">Register</button>
                </form>
                <div class="login">
                    <a href="" id="backToLogin">back to login</a>
                </div>
            </div>
        </div>
        <div class="noUser hideDisplayClass">
            <h3 id="statusmessage"> Not a valid user </h3>
            {{!-- <a href="http://localhost:3000/"> --}}
            <button type="button" id="statusBtn">OK</button>
            {{!-- </a> --}}
        </div>
    </div>
    <script src="/javascripts/adminLogin.js"></script>
</body>

</html>