<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="container">
        <div class="loginPage">
            <div class="contentDiv">
                <h1>The Reviewer</h1>
                <p>This is the website contained the movie review of top languages. </p>
            </div>
            <div class="formDiv">
                <div class="login-heading">
                    <h1>Login</h1>
                </div>
                <form action="http://localhost:3000/" method="POST" id="loginForm">
                    <label for="userName">User Name</label>
                    <br>
                    <input type="text" class="userName" name="userName" id="username">
                    <p id="userNameErr" style="display: none;">* mandatory felid</p>
                    <br>
                    <label for="userName">Password</label>
                    <br>
                    <input type="password" class="password" name="password" id="password">
                    <p id="passwordErr" style="display: none;">* mandatory felid</p>
                    <br>
                    <button type="submit" id="submitBtn">Login</button>
                </form>
            </div>
        </div>
        {{#if noUserStatus}}
        {{!-- <script>
            alert("Not a valid user");
        </script> --}}
        <div class="noUser">
            <h3 id="statusmessage"> Not a valid user </h3>
            <a href="http://localhost:3000/"> 
                <button type="button" id="statusBtn">OK</button>
            </a>
        </div>
        {{/if}}
    </div>
    <script src="/javascripts/login.js"></script>
</body>

</html>