<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="loginPage">
            <div class="contentDiv">
                <h1>The Reviewer</h1>
                <p>This is the website contained the movie review of top languages. </p>
            </div>
            <div class="formDiv">
                <div class="login-heading">
                    <h1>Login</h1>
                </div>
                <form id="loginForm">
                    <label for="userName">User Name</label>
                    <br>
                    <input type="text" class="userName" name="userName" id="username">
                    <p id="userNameErr" style="display: none;">* Please enter a valid user name</p>
                    <br>
                    <label for="userName">Password</label>
                    <br>
                    <input type="password" class="password" name="password" id="password">
                    <p id="passwordErr" style="display: none;">* Please enter a minimum 4 character</p>
                    <br>
                    <button type="button" id="submitBtn">Login</button>
                </form>
            </div>
        </div>
        <div class="noUser hideDisplayClass">
            <h3 id="statusmessage"> Not a valid user </h3>
            {{!-- <a href="http://localhost:3000/"> --}}
                <button type="button" id="statusBtn">OK</button>
            {{!-- </a> --}}
        </div>
    </div>
    <script src="/javascripts/login.js"></script>
</body>

</html>