* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
}

.container .navbar {
  padding: 0 10px 0 10px;
  width: 100vw;
  height: 80px;
  background-color: rgba(9, 9, 9, 0.74);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .navbar .brand {
  padding: 5px;
  background-color: whitesmoke;
  border-color: black;
  border-radius: 10px;
  box-shadow: 10px 5px rgba(20, 20, 20, 0.966);
}
.container .navbar .menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container .navbar .menu ul li {
  color: white;
  padding-right: 20px;
}

.container .movieCard {
  margin-top: 10rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.container .movieCard .card {
  background-color: rgba(0, 0, 0, 0.76);
  width: max-content;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2rem;
}
.container .movieCard .card .cardImg img {
  height: 300px;
  width: 245px;
}
